.products {
  border: 2px solid black;

  .product {
    border: 2px solid black;
    margin: 2px;
  }
}

.brand-logo {
  width: 200px;
  padding: 20px 40px;
}

img {
  width: 100px;
  border-radius: 5px;
  object-fit: contain;
}

.product-name {
  // font-weight: bold;
  // font-size: 1.2em;
  font-family: "Lato", sans-serif;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-table-container {
  padding: 20px 40px;
}

.product-table {
  padding: 20px 40px;
  border-collapse: collapse; /* Removes spacing between table cells */
  border-spacing: 0;
  width: 100%;
}

.product-description,
.product-name {
  max-width: 150px;
}

.product-image {
  // display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product-wholesale,
.product-wholesale-header {
  // light blue background
  background: #ffe5d1;
}

.product-resale,
.product-resale-header {
  background-color: #fff0e6;
}

td,
th {
  font-size: small;

  &:not(.product-image) {
    padding: 20px;
  }
  border: 1px solid #cbd5e1;
  text-align: center;
}

th {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.brand-name {
  padding: 20px 40px;
  color: #2e2c2d;
  padding: 0 40px;
  margin: 0;
  text-align: end;
  margin-top: -46px;
}

.brand-header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-right: 40px;
}

@mixin gradient-text($gradient) {
  // background: $gradient;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text; // for Firefox
  // color: transparent;
  color: #2e2c2d;
}

// Example: peach → black
.gradient-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2e2c2d;
  letter-spacing: 3px;
  // @include gradient-text(linear-gradient(to right, #faa471, #ef4231));
}

.website-link {
  border: 2px solid #000; /* neon orange border */
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 12px;

  // // color: # fff; /* text pops on dark bg */
  // // backgrou nd: #1a1a1a; /* dark background for glow contrast */

  // box-shadow:
  //   0 0 8px #ff7b00,
  //   /* inner glow */ 0 0 16px #ff7b00,
  //   /* mid glow */ 0 0 32px #ffae42,
  //   /* outer soft orange */ 0 0 48px #ffc266;
}
